.avatar {
    width: 200px;
    margin: 0 20px;
    text-align: center;
}

.avatar-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.avatar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-name {
    font-size: 24pt;
    color: #000000;
}